$secondaryColor: #d0d6f9;
$primaryFont: "Barlow Condensed", sans-serif;
$secondaryFont: "Bellefair", serif;

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin background($url, $position) {
  background: #0b0d19 url($url) $position top no-repeat;
}

@mixin mediaMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}
