@include mediaMediumLarge {
  #bodyHome {
    @include background("../../images/background-desktop.jpg", center);
  }

  .nav {
    padding: 20px 0 20px 50px; // top right bottom left

    div:first-of-type {
      @include flex(space-evenly, center);
      width: 80%;

      &::before {
        display: none;
      }
    }
  }

  .intro {
    margin-top: 7rem;

    button {
      font-size: 2rem;
      width: 200px;
      height: 200px;
    }
  }
}

@include mediaMedium {
  #bodyHome {
    @include background("../../images/background-tablet.jpg", center);
  }

  .intro {
    @include flex(space-around, center);
    flex-direction: column;
    margin-top: 5rem;
    text-align: center;

    div:first-of-type {
      margin-bottom: 5rem;

      h2 {
        font-size: 2rem;
      }

      p {
        max-width: 650px;
        padding: 0 20px;
        font-size: 1.5rem;
        line-height: 30px;
      }
    }
  }

  .nav {
    padding: 20px 0 20px 30px; // top right bottom left

    img {
      padding-right: 30px;
    }

    div:first-of-type {
      width: 90%;
    }
  }
}

@include mediaMediumLow {
  .nav {
    & div:first-of-type {
      display: none;
    }

    .menuBtn {
      display: block;
    }
  }
}

// #bodyHome {
//     @include background("../../images/background-mobile.jpg", center);
//   }
