* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

body {
  background: #0b0d19 url("../../images/background-desktop.jpg") right top
    no-repeat;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 50px 50px;

  .underline {
    background-color: rgba(151, 151, 155, 0.2);
    width: 34vw;
    height: 2px;
    margin-left: -40rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(151, 151, 155, 0.1);
    backdrop-filter: blur(20px);
    width: 850px;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      font-weight: 300;
      text-transform: uppercase;
      margin-left: 5rem;
    }

    li {
      padding: 0 20px;
      font-size: 1.5rem;
      cursor: pointer;

      span {
        font-weight: bold;
        padding-right: 5px;
      }
    }
  }
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 10rem;

  div {
    h1 {
      font-family: "Bellefair", serif;
      font-size: 9.375rem;
      font-weight: 100;
      text-transform: uppercase;
      padding: 15px 0;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 400;
      color: #d0d6f9;
      font-size: 1.7rem;
      word-spacing: 10px;
      letter-spacing: 2px;
    }

    p {
      max-width: 450px;
      color: #d0d6f9;
      font-size: 1.125rem;
      opacity: 0.8;
      line-height: 25px;
      word-spacing: 3px;
    }
  }

  button {
    font-family: "Bellefair", serif;
    font-size: 2rem;
    cursor: pointer;
    background-color: #fff;
    text-transform: uppercase;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: none;
  }
}
