* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

body {
  background: #0b0d19 url("../../images/background-desktop.jpg") right top
    no-repeat;
}

nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 50px 50px;

  .underline {
    background-color: rgba(151, 151, 155, 0.2);
    width: 34vw;
    height: 2px;
    margin-left: -40rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(151, 151, 155, 0.1);
    backdrop-filter: blur(20px);
    width: 850px;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      font-weight: 300;
      text-transform: uppercase;
      margin-left: 5rem;
    }

    li {
      padding: 0 20px;
      font-size: 1.5rem;

      span {
        font-weight: 600;
        padding-right: 5px;
      }
    }
  }
}
