@import "config";
@import "home";
@import "destination";
@import "crew";
@import "tech";
@import "responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
}

nav {
  @include flex(space-between, center);
  padding: 50px 0 50px 50px; // top right bottom left

  div {
    @include flex(space-between, center);
    background: rgba(151, 151, 155, 0.1);
    backdrop-filter: blur(20px);
    width: 60%;

    ul {
      @include flex(space-evenly, center);
      list-style-type: none;
      text-transform: uppercase;
      width: 100%;

      li {
        font-size: 1rem;
        cursor: pointer;
        letter-spacing: 2.7px;

        &.active {
          border-bottom: 3px solid #fff;
        }

        &:hover:not(.active) {
          border-bottom: 1px solid #bbbbbb;
        }

        a {
          color: $secondaryColor;
          text-decoration: none;
          display: block;
          padding: 30px 0;
        }

        span {
          font-weight: bold;
          color: #fff;
        }
      }
    }

    &::before {
      content: "";
      width: 60%;
      height: 1px;
      background-color: $secondaryColor;
      position: absolute;
      right: 95%;
      opacity: 0.2;
    }
  }
}
