@import "config";
@import "home";
@import "destination";
@import "crew";
@import "tech";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
}

nav {
  @include flex(space-between, center);
  padding: 50px 0 50px 50px;

  .underline {
    background-color: #97979b33;
    width: 34vw;
    height: 2px;
    margin-left: -40rem;
  }

  div {
    @include flex(center, center);
    background: rgba(151, 151, 155, 0.1);
    backdrop-filter: blur(20px);
    width: 850px;

    ul {
      @include flex(space-between, center);
      list-style-type: none;
      font-weight: 300;
      text-transform: uppercase;
      margin-left: 5rem;

      li {
        margin: 0 20px;
        font-size: 1.5rem;
        cursor: pointer;

        a {
          color: #fff;
          text-decoration: none;
          display: block;
          padding: 30px 0;

          &:hover {
            border-bottom: 1px solid #bbbbbb;
          }
        }

        span {
          font-weight: bold;
          padding-right: 5px;
        }
      }
    }
  }
}

.active {
  border-bottom: 2px solid #fff;
}
